

/* Nav-bar Section  */
li{
    list-style-type: none;
}
/* Timeline Section */
.btnk:hover{
background-color: black;
color: white;
border:none;
transition: 0.5s;
}
.btnm:hover {
    background-color: black;
    color: white;
    border:none;
    transition: 0.5s; 
}
/* Mail Section */
.backpart{
    background-image: url(./Free-Background-1.jpg);
}




/* Image container */

.image-container img{
    transition: transform 0.3s ease-in-out;
}
.image-container img:hover{
    transform: scale(1.2);
}


/* Mail Section */
.ttt{
    width:9rem;
    height:2.5rem;
    color: #ffffff;
    background-color: black;
}
.ttt:hover{
    background-color:white;
    color:gray;
    border:1px solid black;

}
/* footer */
.lekha{
    width:30rem;
    height:2.5rem;
    border:1px solid dark;
    margin-left: 800PX;
    margin-top: 100PX;
    color: gray;
}



/* Footer Section */

.footer{
    padding-top: 130px;
    padding-bottom: 150px;
    background-color: black;
    width: 1300px;
}
.footer h2{
    font-weight: 800;
    color: white;
}
.footer i{
    color: #F4F4F4;
    background: #242424;
    border-radius: 100%;

}
